


/* EN DESSOUS DU HEADER PARTIE BIENVENUE */

#welcome-index {
    margin: 3vh 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#welcome-index img {
    /* height: 30vh; */
    width: 300px;
    border-radius: 1em;
    border: 2px solid black;
    /* object-fit: contain; */
}

#content-index .container-text-categories > p {
    text-align: center;
}

#welcome-index #container-text {
    margin: 2% 0 0 0;
}

#welcome-index #container-text strong {
    color: var(--color-blue);
}


/* CONTENUS DE LA PAGE  */
#content-index {
    margin: 5% 0 0 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#by-categorie, #by-area, #by-letters {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3vw;
}

#by-categorie > div, #by-area > div, #by-letters > div {
    width: 30vw;
    display: flex;
    justify-content: center;
}

/* DIV TEXT CATEGORIE  */
#content-index .container-text-categories {
 
    display: flex;
    flex-direction: column;
    align-items: center;
} 

#by-categorie > .container-text-categories, #by-letters > .container-text-categories {
   order: 1;
}

/* DIV IMG CATEGORIE  */
#content-index img  {
    width: 25vw;
    /* height: 40vh; */
    border-radius: 1em;
    border: 2px solid black;
    object-position: center;
}

/* BUTTON */

#content-index button {
    margin: 2vh 0;
    background-color: var(--color-blue);
    width: fit-content;
 
    /* widh: ; */
    color: white;
    padding: 1vh 1vw;
    
    display: flex;
    align-items: center;
    justify-content: center;

    border: none;
    border-radius: 0.5em;
    cursor: pointer;

    white-space: nowrap;

    /* border: 2px solid black; */
}
.container-text-categories > a {
    text-decoration: none;
}

#content-index button:hover {
    background-color: var(--color-light-blue);
}

@media(max-width: 992px) {

    #welcome-index img {
        width: 200px;
    }

    #by-categorie > .container-text-categories, #by-letters > .container-text-categories {
        order: 0;
     }

     #welcome-index h2, #content-index p {
        font-size: 1.2em;
     }

     #welcome-index h1 {
        font-size: 1.4em;
     }

     #content-index {
        gap: 20px;
     }
    
}

@media(max-width: 768px) {

    #by-categorie > div, #by-area > div, #by-letters > div {
        width: 220px;
    }


    #by-categorie > .container-text-categories, #by-letters > .container-text-categories {
        order: 0;
    }

    #welcome-index h2 {
        text-align: center;
        padding: 0 20px;
    }
    
    #content-index p {
        font-size: 1em;
       
    }

    #content-index {
        gap: 10px;
     }

    #content-index button {
        font-size: 1em;
    }

    #content-index img  {
        width: 150px;
    }

    #welcome-index h1 {
        font-size: 1.2em;
    }

}